/GET/
/.gradle/
/.idea/
/build/
/Server Data/
/src/test/
/POST/
/JourneyMapUploader/journeymapDataDir/
/JourneyMapUploader/Chunked Images/
/out/
/JourneyMapUploader/out/
/ExtraPostUtilities/out/
/src/main/java/com/jumbodinosaurs/webserver/util/
/ObjectUploader/journeymapDataDir/
/ObjectUploader/Chunked Images/
/ObjectUploader/build/
/ObjectUploader/out/
/ExtraPostUtilities/build/
/JMeter Tests/
/APIs/build/
